@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <form action="~/Account/LogOff" method="post" id="logoutForm" class="navbar-right">
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a href="#" class="active nav-link"> Hello  @User.Identity.GetUserName()</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" ,@class="nav-link"})</li>
    </ul>
}
